# .env 示例配置

# 去掉下方注释可以开启 serverless 模式 (for backend)
# FASTIFY_SERVERLESS=1

# OpenAI API Key
OPENAI_API_KEY=sk-asdfghjklqwertyuiopzxcvbnm
# OpenAI API Base URL
OPENAI_BASE_URL=https://api.openai.com/v1
# 使用的模型
OPENAI_API_MODEL=gpt-5.5